vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-GTDEFM2\\stama
vti_modifiedby:SR|DESKTOP-GTDEFM2\\stama
vti_timelastmodified:TR|30 May 2020 21:41:16 -0000
vti_timecreated:TR|28 May 2020 08:59:39 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Aboutme.html University.html Speciality.html index.html
vti_nexttolasttimemodified:TW|30 May 2020 21:37:24 -0000
vti_cacheddtm:TX|30 May 2020 21:37:24 -0000
vti_filesize:IR|4495
vti_cachedlinkinfo:VX|S|../Images/background.jpg S|../Images/logo.png S|../Images/parallax1.jpg S|../Images/parallax2.jpg S|../Images/University.jpg S|../Images/Speciality.jpg S|../Images/background.jpg
vti_cachedsvcrellinks:VX|FSUS|Images/background.jpg FSUS|Images/logo.png FSUS|Images/parallax1.jpg FSUS|Images/parallax2.jpg FSUS|Images/University.jpg FSUS|Images/Speciality.jpg FSUS|Images/background.jpg
